body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #5c94fc, #87ceeb);
    font-family: "Courier New", monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.game-container {
    background: #ffffff;
    border: 3px solid #000;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px #000;
}

.ui {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    min-width: 800px;
}

#game-area {
    width: 800px;
    height: 400px;
    background: linear-gradient(
        to bottom,
        #5c94fc 80%,
        #228b22 80%,
        #228b22 100%
    );
    border: 2px solid #333;
    overflow: hidden;
}

#mario {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("https://i.imgur.com/Wb1qfhK.png");
    z-index: 100;
}

#mario.big {
    width: 40px;
    height: 40px;
    background-image: url("https://i.imgur.com/Wb1qfhK.png");
}

.platform {
    background-image: url("https://i.imgur.com/M6rwarW.png");
}

.platform.ground {
    width: 20px;
    height: 20px;
    background-image: url("https://i.imgur.com/pogC9x5.png");
}

.platform.blue {
    width: 20px;
    height: 20px;
    background-image: url("https://i.imgur.com/fVscIbn.png");
}

.enemy {
    width: 20px;
    height: 20px;
    background-image: url("https://i.imgur.com/SvV4ueD.png");
}

.coin {
    width: 20px;
    height: 20px;
    background-image: url("https://i.imgur.com/wbKxhcd.png");
    animation: coinSpin 1s inear infinite;


}

@keyframes coinSpin{
    0% {
        transform: rotateY(0deg);

    }
    100% {
        transform:rotateY(360deg);
    }
}

.surprise-block{
    width:20px;
    height: 20px;
    background-image:url('https://i.imgur.com/gesQ1KP.png');
}

.suprise-block{
    width:20px;
    height:20px;
    background-image:url('https://i.imgur.com/bdrLpi6.png')
}

.pipe{
    width:40px;
    height: 40px;
    
}

.pipe-top{
    width:20px;
    height: 20px;
    background-image:url('https://i.imgur.com/ReTPiWY.png')
}
.pipe-top-right{
    width:20px;
    height: 20px;
    background-image:url('https://i.imgur.com/hj2GK4n.png')
}
.pipe-bottom{
    width:20px;
    height: 20px;
    background-image:url('https://i.imgur.com/c1cYSbt.png')
}

.pipe-bottom-right{
    width:20px;
    height: 20px;
    background-image:url('https://i.imgur.com/nqQ79eI.png')
}

.controls{
    margin-top:15px;
}